/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-size: 18px;*/
/*    color: var(--tg-theme-text-color);*/
/*    background: var(--tg-theme-bg-color);*/
/*}*/

/* test */
h3 {
    padding: 20px;
    line-height: 3;
}
/**/

html {
  scroll-behavior: smooth;
}

body {
    flex: 1 0 auto;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    direction: ltr;
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.4;
    font-family: Arial;
    font-weight: 400;
    background: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: no-common-ligatures;
    text-size-adjust: 100%;
}

/*Меню категорий сверху*/

a {
    text-decoration: none;
}

.categories_style.fixed {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.categories_style {
    height: 48px;
    width: 100%;
    overflow-x: auto;
    background: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    z-index: 99;
    will-change: box-shadow;
    transition: box-shadow 150ms ease 0s;
    user-select: none;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.category.active_category {
    margin: 6px;
    height: 32px;
    background: rgb(253, 25, 15);
    color: rgba(255, 255, 255);
    font-family: Arial;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    padding: 0px 10px;
    border-radius: 12px 6px 12px 6px;
    flex: 0 0 auto;
}

.category {
    margin: 6px;
    height: 32px;
    background: rgb(246, 243, 247);
    color: rgb(112, 92, 109);
    font-family: Arial;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    padding: 0px 10px;
    border-radius: 12px 6px 12px 6px;
    flex: 0 0 auto;
    white-space: nowrap;
}

/*Отображение блюд по категориям*/

main {
    display: block;
}

.products {
    padding: 0px 16px;
}

/*.products_style0 {*/
/*    padding: 40px 0px 0px 0px;*/
/*}*/
/*.products_style1 {*/
/*    padding: 0px 16px;*/
/*}*/

/*Заголовок с названием категории*/

.products_section {
    display: flex;
    flex-flow: column;
}

section {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.section_header:first-child {
    padding-top: 40px;
}

.section_header {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 0px 8px;
    position: relative;

    /*content: " ";*/
    /*display: block;*/
    /*height: 1px;*/
    /*width: 100%;*/
    /*background-color: rgb(243, 243, 247);*/
    /*position: absolute;*/
    /*top: 0px;*/
}






.product_img {
    max-height: 138px;
}

.product_picture {
    float: left;
    flex: 0 0 auto;
    position: relative;
    margin: 0px 0px 0px 0px;
    width: 135px;
    height: 135px;
    user-select: none;
    image-rendering: auto;
    display: flex;
    flex-flow: column;
}

.product_main {
    margin-left: 150px;
}

.product_title {
    margin: 0px 0px 4px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.product_article {
    padding: 16px 0px;
}

.btn {
    display: block;
    padding: 10px 20px;
    border: none;
    background: rgb(253, 25, 15);
    color: rgba(255, 255, 255);
    border-radius: 12px 6px 12px 6px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
    bottom: 0;
    position: relative;
    margin-top: 6px;
}

/* item fullscreen*/

.product_img_fullscreen {
    width: 100%;
}

.item_card {
    position: absolute;
    top: 0px;
    left: 0px;
}

.product_title_fullscreen {
    margin: 8px 0 0 5%;
    color: rgb(73, 51, 71);
    font-family: Arial;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.product_weight_fullscreen {
    margin: 6px 0 0 5%;
    color: rgb(112, 92, 109);
}

.product_description_fullscreen {
    margin: 5px 0 0 5%;
    font-size: 15px;
    color: rgb(70, 55, 64);
}

.product_additions_fullscreen {
    margin: 5px 0 0 5%;
    font-size: 15px;
    color: rgb(70, 55, 64);
}

.additional_list_title {
    color: rgb(73, 51, 71);
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
.additionals_list {
    margin: 10px 0 0 0;
}

.product_add_to_cart_error_fullscreen {
    display: none;
    margin: 5px 0 0 5%;
    font-size: 15px;
    color: rgba(176, 0, 0, 0.82);
}

.btn_fullscreen {
    margin: 0 0 5% 5%;
    display: block;
    padding: 10px 20px;
    border: none;
    background: rgb(253, 25, 15);
    color: rgba(255, 255, 255);
    border-radius: 16px 8px 16px 8px;
    font-weight: 500;
    font-size: 18px;
    transition: background .2s linear;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/*style="display: none; z-index: 1080; position: fixed; bottom: 20px; right: 20px; background: rgb(253, 25, 15); border-radius: 12px 6px 12px 6px; padding: 4px 8px 2px 8px;
*/
/*.btn_close_item_card_fullscreen {
    !*box-shadow: rgb(253, 25, 15) 0px 0px 5px;*!
    border-radius: 16px 8px 16px 8px;
    width: 48px;
    height: 24px;
    position: sticky;
    display: none;
    z-index: 1001;
    position: absolute;
    top: 0px;
    background: rgb(253, 25, 15);
    margin-top: 8px;
    margin-left: 8px;
    !*opacity: .8;*!
    color: white;
    font-weight: 600;
    font-size: 18px;
}*/

.btn_close_item_card_fullscreen {
    z-index: 1200;
    display: none;
    padding: 10px 20px;
    border: none;
    background: rgb(253, 25, 15);
    color: rgba(255, 255, 255);
    border-radius: 12px 6px 12px 6px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.cart_fullscreen {
    padding: 0px 16px;
}

.cart_fullscreen_items {
    margin-top: 40px;
}

.cart_fullscreen_result {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}

.btn_cart_fullscreen {
    margin: 0 0 5% 5%;
    display: block;
    padding: 10px 20px;
    border: none;
    background: rgb(253, 25, 15);
    color: rgba(255, 255, 255);
    border-radius: 16px 8px 16px 8px;
    font-weight: 500;
    font-size: 18px;
    transition: background .2s linear;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 90%;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
var(--tg-theme-secondary-bg-color)
*/